body {    
    @include fontAdjust();
    @include screenAdjust();
    @include defaultScrollbar();
    box-sizing: border-box;
    background-color: $backgroundContentColor;
    color: $colorPrimary;
    overflow-x: visible;
    overflow-y: scroll;
    position: relative;
} 

.mainContainer {
    box-sizing: border-box;
    @include screenAdjust(98vw);
    @include device (mobile) {
        margin: 0 auto;
        @include screenAdjust(100vw, 100%);
        
    }
    @include displayFlex (column, center, center){
        gap: 1vw;
        flex-wrap: nowrap;
    };
    margin: 0 auto;
    overflow: hidden;
}

