.modalContainer {
    @include defaultScrollbar();
    @include screenAdjust(100vw, 100%);
    z-index: 150;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2vw 0 2vw 0;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba($color: #000000, $alpha: 0.9);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: hidden 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.modalMoreInfosVideo {
    box-sizing: border-box;
    @include displayFlex(colum){
        justify-content: center;
    };
    @include defaultBorder;
    background: $backgroundContentColor;
    box-shadow: $boxShadow;
    @include screenAdjust(50vw, max-content);
    padding: 1vw;
    @include fontAdjust();
    @include device (mobile) {
        @include screenAdjust(90vw, 100%);
    }
    span {
        cursor: pointer;
        @include screenAdjust(5vw, 5vw);
        text-align: center;
        line-height: 4vw;
        @include displayFlex(colum, center, center);
        background: #161616;
        border-radius: 100%;
        @include fontAdjust(2.5vw);
        &:hover {
            background: $backgroundHeaderColor;
        }
        @include device (mobile) {
            @include screenAdjust(10vw, 10vw);
            line-height: 10vw;
            font-size: 5vw;
        }
    }
    .infoModalContainer {
        box-sizing: border-box;
        @include screenAdjust(100%, max-content);
        @include displayFlex(column, center, center){
            gap: 1.5vw;
        };
        @include fontAdjust(1.3vw, 300, 1.5vw);
        @include device (mobile) {
            @include fontAdjust(4vw, 100, 1);
            gap: 3vw;
        }
        
        .imageModalContainer{
            @include screenAdjust(20vw, 25vw);
            @include device (mobile) {
                @include screenAdjust(50vw, 50vw);
            }
            img {
                @include screenAdjust();
                @include defaultBorder();
            }
        }

        .titleDescriptionModal {
            @include fontAdjust(.9vw, 100, 0);
            @include device (mobile) {
                @include fontAdjust(2vw, 100, 0);
            }
        }
        
        p {
            text-align: center;
        }
    }
}

.showMoreInfosVideo {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
