#modalTrailerBox {
    position: absolute;
    box-sizing: border-box;
    z-index: 50;
    @include screenAdjust (30vw, 30vw);
    @include device (mobile) {
        @include screenAdjust (90vw, 80vw);
    }
    &:fullscreen {
        #btnCloseModalTrailer {
            display: none;
            visibility: hidden;
        }
    }
    // transform: scale(1.1);
    // opacity: 0;
    // visibility: hidden;
    // transition: hidden 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    .onmouseoverModalTrailer {
        z-index: 50;
        position: relative;
        @include screenAdjust;
        @include displayFlex(column);
        @include defaultBorder;
        box-sizing: border-box;
        overflow: hidden;
        padding: -5vw;
        background-color: $backgroundHeaderColor;
        box-shadow: $boxShadow;

        .playerBoxTrailer {
            @include screenAdjust(100%, 100%);
            position: relative;
            top: 0;

            iframe {
                @include screenAdjust();
            }
        }

        .frontalPlayer {
            position: absolute;
            @include screenAdjust();
            z-index: 1;
        }

        .containerFooterBoxModal {
            z-index: 1;
            box-sizing: border-box;
            @include screenAdjust(100%, 30%);

            @include device (mobile) {
                @include screenAdjust (100%, 30vw);
            }

            position: relative;
            bottom: 0;
            @include displayFlex(column, center, flex-start);
            background-color: $backgroundHeaderColor;

            .containerBtnsModalTrailer {
                width: 100%;
                position: relative;
                margin-top: .2vw;

                #btnModalBoxToAddToList,
                #btnModalBoxToMoreInformations,
                #btnModalBoxToExpand,
                #btnModalBoxToPlay,
                #btnModalBoxToPause {
                    @include screenAdjust(2.5vw, 2.5vw);
                    background: none;
                    padding: .5vw;
                    cursor: pointer;
                    @include defaultBorder {
                        border-color: $backgroundContentColor;
                    }
                    img {
                        @include screenAdjust();
                    }
                    @include device (mobile) {
                        @include screenAdjust(9vw, 9vw);
                        padding: 1.5vw;
                    }
                }

                #btnModalBoxToAddToList {
                    margin-left: .5vw;
                }


                #btnModalBoxToExpand {
                    position: absolute;
                    right: .5vw;
                }

            }

            h2 {
                padding: .3vw;
                margin-left: .5vw;

                span {
                    @include fontAdjust($fontSize: .8vw);
                }

                @include device (mobile) {
                    padding: 1.5vw;
                    margin-left: .5vw;
                    line-height: 2vw;
                    font-size: 4vw;

                    span {
                        @include fontAdjust($fontSize: 2vw);
                        // line-height: ;
                    }
                }
            }
        }

    }

}

.btnHidden {
    display: none;
}

.footerModalBoxTrailer {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.typePositionFooterModalTrailer {
    position: absolute;
}

.cursorNone {
    cursor: none;
}

#btnCloseModalTrailer {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    background: $backgroundContentColor;
    border-radius: 100%;
    top: 1vw;
    right: 1vw;
    color: $colorPrimary;
    cursor: pointer;
    border: none;
    width: 10vw;
    line-height: 10vw;
    font-size: 5vw;
    &:hover {
        background: $backgroundHeaderColor;
    }
    @include device (mobile) {
        display: block;
        visibility: visible;
    }
}